# Environment variables
.env

# Google credentials
creds/

# Python cache
__pycache__/
*.pyc

# Airflow logs
logs/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Local/generated data
data/*
!data/sample/
!data/sample/*


# Local API response
series_info_response.json